body {
    margin: 0;
    background-color: rgb(255, 181, 78)
}

input {
    padding: 10px;
    margin-bottom: 10px;
    font-size: 20px;
    width: 350px;
    height: 25px;
    background-color: #898989;
    color: black;
    font-family: 'Cutive Mono';
}

form {
    display: flex;
    flex-direction: column;
    font-family: 'Cutive Mono';
}

textarea {
    width: 300px;
    height: 240px;
    font-family: 'Cutive Mono';
    font-size: 25px;
    background-color: white;
}

img {
    width: 250px;
    height: 250px;
}

::placeholder {
    text-align: center;
    color: black;
    font-family: 'Cutive Mono';
}

button {
    color: black;
    width: 125px;
    height: 45px;
    margin-bottom: 10px;
    font-size: 20px;
    border-radius: 10px;
    background-color: #898989;
    font-family: 'Cutive Mono';
}

button:hover {
    background-color: lightgray;
}

.bothauth-section {
    text-align: center;
}

#bothauth-wrapper {
    display: flex;
    justify-content: space-evenly;
}

.bothauth-text {
    font-family: 'Pinyon Script', cursive;
    font-size: 85px;
    color: black;
}

#content-container {
    display: flex;
    justify-content: center;
}

.logo-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.logo {
    height: 800px;
    width: 100%;
    display: flex;
    text-align: center;
}

.headline {
    font-family: 'Pinyon Script';
    font-size: 50px;
    color: black;
    display: flex;
    justify-content: center;
}

#home-button {
    width: 160px;
    height: 50px;
    position: absolute;
    top: 30px;
    right: 30px;
    font-family: 'Pinyon Script', cursive;
    font-size: 25px;
    background-color: #898989;
}

#network-content {
    font-family: 'Cutive Mono';
    font-size: 27px;
    margin: 30px;
    font-weight: bold;
}

.tell-more:hover {
    color: white;
    cursor: pointer;
}

.profile-pic-upload-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.profile-pic-uploader {
    width: 280px;
    font-family: "Cutive Mono";
    font-size: 22px;
}

.profile-pic {
    width: 300px;
    height: 300px;
}

#other-profile {
    margin: 0 auto;
    text-align: center;
}

.other-prof-header {
    width: inherit;
}

.pending-friend-pic {
    width: 150px;
    height: 150px;
}

#profile-container {
    margin: 100px;
}

#profile-left-container {
    display: inline-block;
    width: 50%;
}

#profile-right-container {
    display: inline-block;
    width: 50%;
}

.error-message {
    font-family: 'Cutive Mono', cursive;
    font-size: 20px;
    color: red;
}

#chat-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#chatbox {
    font-family: 'Cutive Mono';
    font-size: 20px;
    background-color: #898989;
    width: 600px;
    height: 100px;
    color: lightgray;
}

#chat-messages {
    font-family: 'Cutive Mono';
    font-size: 20px;
    width: 600px;
    height: 400px;
    box-sizing: border-box;
    padding: 0 24px;
    background-color: lightgray;
}

.online-friends {
    display: flex;
    justify-content: center;
    font-family: "Cutive Mono";
    font-size: 25px;
}

.friends-list {
    display: flex;
    flex-wrap: wrap;
}

#friends-page {
    margin: 0 50px;
}

/* NAV BAR SECTION */

nav {
    font-family: 'Cutive Mono', cursive;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

nav li {
    float: left;
}

nav li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

/* Change the link color to #111 (black) on hover */
nav li a:hover {
    background-color: #111;
}
