* {
    background-color: rgb(179, 236, 229);
}

input {
    padding: 10px;
    margin-bottom: 10px;
    font-size: 20px;
    width: 350px;
    height: 25px;
    background-color: rgba(118, 189, 181, 0.64);
}

form {
    display: flex;
    flex-direction: column;
}

::placeholder {
    text-align: center;
}

.submit-button {
    color: #75757D;
    width: 125px;
    height: 45px;
    margin-bottom: 10px;
    font-size: 20px;
    border-radius: 10px;
    background-color: rgba(118, 189, 181, 0.64);
}

#registration-submit, #login-submit {
    display: flex;
    justify-content: center;
}

#registration-container, #login-container {
    display: flex;
}

#registration-section, #login-section {
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    /* align-items: center; */
    /* align-content: center; */
}

/* #login-section {
    display: flex;
    flex-direction: column;
    text-align: center;
} */
#bothauth-section {
    display: flex;
    flex-direction: row;
}

.bothauth {
    font-family: arial;
    font-size: 20px;
    color: teal;
}

.logo-container {
    display: flex;
    flex-direction: row;
    order: -1;
}

.logo {
    width: 550px;
    height: 550px;
}

.link {
    color: blue;
    font-size: 18px;
    justify-content: center;
    text-align: center;
    font-family: arial;
}

#welcome-user {
    font-family: 'Monoton', cursive;
    font-size: 50px;
    color: teal;
}
